* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --text-header-color: #3858fb;
  --main-padding: 100px 0px;
  --main-transtion: 0.3s;
}
/* start globle rules */
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.sec-header {
  padding: 10px 20px;
}
.sec-header p {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}
.text-header {
  color: var(--text-header-color);
  position: relative;
  padding-left: 6rem !important;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 0px 15px 6rem;
}
.text-header::before {
  content: "";
  height: 1px;
  width: 5rem;
  background-color: #3858fb;
  position: absolute;
  top: 50%;
  left: 0px;
}
.button input {
  background-color: #112957;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}
/* cards */
.image-cards .sec-header {
  background-color: #f8f9fe;
  width: 80%;
  position: relative;
  bottom: 50px;
}
@media (max-width: 991px) {
  .image-cards .sec-header {
    width: 90%;
  }
}
.image-cards .sec-header p {
  font-size: 20px !important;
  margin: 15px;
  font-weight: 500;
}
.image-cards img {
  width: 100%;
}
.active {
  color: var(--text-header-color) !important;
}
.row {
  margin: 0px !important;
}
/* end globel rules */
/* start navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #f8f9fe !important;
  z-index: 43;
  opacity: 0.9;
}
.navbar-nav li a {
  color: #173454;
}
.nav-text {
  background-color: var(--text-header-color);
  color: white;
  padding: 10px 20px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .navbar-nav li {
    text-align: center;
  }
  .nav-text {
    display: none;
  }
}
@keyframes show-nav {
  0% {
    top: 50px;
    opacity: 0.8;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes show-nav-0px {
  0% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
/* end navbar */
/* start header */
.header {
  height: 100vh;
  background-image: url(../images/im3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  position: relative;
  height: 100%;
}
.header .content {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}
.header .content .text {
  margin-bottom: 50px;
}
.header .content .text .text-body {
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 20px 0px;
}
.header .content .text .text-footer {
  font-size: 14px;
  line-height: 1.3;
}
@media (max-width: 390px) {
  .header {
    padding-top: 150px;
  }
}
/* end header */
/* start practicing */
.practicing {
  padding: var(--main-padding);
}
.practicing .text {
  font-size: 30px;
  font-weight: bold;
  color: #0b2c3f;
  padding: 10px 0px;
}
@media (max-width: 465px) {
  .practicing .text {
    text-align: center;
  }
}
.card {
  padding: 30px;
  margin-bottom: 20px;
}
.card .card-img-top {
  font-size: 25px;
  color: var(--text-header-color);
}
.card-title {
  color: #16014c;
}
.card-body {
  padding: 20px 0px;
}
.card-text {
  color: #576685;
}
.card-foot a,
.card-foot i {
  color: #5a6676 !important;
  text-decoration: none;
  transition: var(--main-transtion);
}
.card-foot i {
  font-size: 13px;
}
.card-foot a:hover,
.card-foot a:hover i {
  color: var(--text-header-color) !important;
}
.card-row {
  padding-top: 70px;
}
/* start about */
#about .row .col:first-child {
  padding: 0px;
}
#about .row .col:last-child .text-header {
  color: white !important;
}
#about .row .col:last-child .text-header::before {
  background-color: white !important;
}
#about .row .col:first-child img {
  height: 100%;
}
#about .row .col:last-child {
  background-color: #3857ff;
  padding: 40px;
}
#about .row .text-body,
#about .row h4 {
  color: white !important;
}
#about .row h4 {
  margin: 80px 0px 50px;
}
#about .row h6 {
  color: #d4d1c8;
}
#about .button {
  margin-top: 30px;
}
@media (max-width: 991px) {
  #about .button {
    text-align: center;
  }
  #about .text-body,
  #about h4,
  #about h6 {
    text-align: center;
  }
}
/* start form */
.form {
  background-color: #ecf2fe;
  padding: 150px 0px;
}
.form .container-fluid {
  width: 90% !important;
}
.form .text-header {
  color: white !important;
}
.form .text-header::before {
  background-color: white !important;
}
.form .content {
  margin: auto;
  background-image: url(../images/im15.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--main-padding);
  margin-bottom: -220px;
}
.form form .row .Box {
  padding: 0px;
  color: #b50000;
  font-size: 11px;
}
.form form .row .col {
  margin-bottom: 30px;
}
@media (min-width: 465px) {
  .form form .row1 .col {
    flex-basis: 47%;
  }
}
.form form input,
select {
  height: 50px;
  width: 100%;
  padding: 10px;
}
.form form textarea {
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
}
.form form .button {
  padding: 0px;
}
/* start recent work */
.work {
  padding: 150px 0px;
}
.work .sec-header p {
  color: #0b3043;
  margin: 0;
}
.work .sec-header ul {
  display: flex;
  margin: 40px 0px;
}
.work .sec-header ul li {
  padding: 10px 15px;
}
.work .sec-header ul li a {
  color: #a09896;
  transition: var(--main-transtion);
}
.work .sec-header ul li a:hover {
  color: var(--text-header-color) !important;
}
/* start consultant */
.consultant {
  background-image: url(../images/im15.png);
  background-size: cover;
  padding: 100px 0px;
}
.consultant .text {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.consultant input {
  background-color: #0b1517 !important;
}
@media (max-width: 465px) {
  .consultant .button {
    text-align: center !important;
    margin-top: 50px;
  }
  .consultant .text {
    text-align: center;
  }
}
/* our lawyers */
.lawyers {
  padding: var(--main-padding);
}
.lawyers .sec-header p {
  color: #092c40 !important;
}
.lawyers .image-cards .sec-header p {
  font-size: 35px;
}
.lawyers .image-cards .sec-header .text-header {
  text-transform: capitalize;
  font-size: 12px;
  padding-left: 50px !important;
}
.lawyers .image-cards .sec-header .text-header::before {
  width: 40px;
}
/*layout  */
.layout {
  background-image: url(../images/im11.png);
  background-size: cover;
  padding: 100px 50px;
  position: relative;
  text-align: center;
  color: white;
}
.layout .angels {
  position: absolute;
  top: 50%;

  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  font-size: 50px;
}
.layout .angels i {
  color: white;
  opacity: 0.7;
  transition: var(--main-transtion);
}
.layout .angels i:hover {
  opacity: 1;
}
.layout .box {
  width: 80%;
  margin: auto;
}
.layout .text {
  color: #b5b9c2;
  padding: 50px 0px;
}
.layout .comma {
  font-size: 80px;
}
@media (min-width: 465px) {
  .layout .info {
    display: flex;
    justify-content: center;
  }
  .layout .information {
    margin-left: 15px;
  }
}
@media (max-width: 465px) {
  .layout .angels {
    display: none;
  }
}
.layout .information div {
  color: #55657c;
}
/*  trend articles */
.trends {
  padding: var(--main-padding);
}
.trends .card-img-header {
  position: relative;
}
.trends .date {
  position: absolute;
  bottom: 0px;
  width: 70%;
  background: white;
  text-align: center;
  padding: 10px 0px;
  font-size: 12px;
  color: #afafaf;
  font-family: cursive;
}
.trends .sec-header p {
  color: #092c40 !important;
}
.trends .row:last-child .sec-header p {
  margin-bottom: 10px;
}
.trends .row .sec-header .text-header {
  text-transform: capitalize;
  font-size: 12px;
  padding-left: 50px !important;
}
.trends .row .sec-header .text-header::before {
  width: 40px;
}
.trends .row .sec-header {
  background-color: #f8f9fe;
}
.trends .text {
  color: #727675;
}
@media (max-width: 465px) {
  .trends .text {
    text-align: center;
  }
}
/*  page footer */
.page-footer {
  background-image: url(../images/im14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px;
}
.page-footer .content {
  padding: var(--main-padding);
  border-bottom: 1px solid #21314a;
}
.page-footer img {
  width: 50%;
}
.page-footer .right p {
  margin: 30px 0px;
}
.page-footer p,
.page-footer .right .contact-email {
  color: white;
  opacity: 0.7;
}
.page-footer .right .phone-num {
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
}
.page-footer .right .phone-num span {
  color: var(--text-header-color);
}
.page-footer .title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}
.page-footer .mid ul {
  padding: 0px;
}
.page-footer .mid ul li {
  text-transform: capitalize;
  padding: 8px 0px;
  font-weight: normal;
  font-size: 13px;
}
.page-footer .mid ul li a {
  opacity: 0.5;
  color: white !important;
}
.page-footer .mid ul li a:hover {
  opacity: 1;
}
.page-footer .left .send-email {
  position: relative;
  margin-top: 20px;
}
.page-footer .send-email .email {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}
.page-footer .left .send-email .submit-email {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 5px 15px;
  background-color: #0b1517;
  color: var(--text-header-color);
  border: none;
}
.page-footer .right,
.page-footer .mid {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .page-footer {
    text-align: center;
  }
  .footer .social {
    margin-top: 10px;
  }
}
@media (min-width: 991px) {
  .footer .social {
    display: flex;
    justify-content: end;
  }
}
.page-footer .footer {
  color: white;
  opacity: 0.7;
  padding: 15px 0px;
}
.page-footer .footer .text {
  font-size: 12px;
}
.page-footer .footer i {
  color: white;
  margin: 0px 8px;
  transition: var(--main-transtion);
}
.page-footer .footer i:hover {
  color: var(--text-header-color);
}
.page-footer .footer span + i {
  color: var(--text-header-color);
}
/* go top button */
.go-top {
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none;
}
@media (max-width: 465px) {
  .header,
  .card {
    text-align: center;
  }
}
