* {
  box-sizing: border-box;
}
:root {
  --text-header-color: #3858fb;
  --main-padding: 100px 0px;
  --main-transtion: 0.3s;
}
/* start globle rules */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.sec-header{
    padding: 10px 20px;
}
.sec-header p {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  
}
.text-header {
  color: var(--text-header-color);
  position: relative;
  padding-left: 6rem !important;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 0px 15px 6rem;
}
.text-header::before {
  content: "";
  height: 1px;
  width: 5rem;
  background-color: #3858fb;
  position: absolute;
  top: 50%;
  left: 0px;
}
.button input {
  background-color: #112957;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}
/* cards */
.image-cards .sec-header{
    background-color: #f8f9fe;
    width: 80%;
    position: relative;
    bottom: 50px;
}
@media (max-width:991px) {
    .image-cards .sec-header{
        width: 90%;
    }
}
.image-cards .sec-header p{
    font-size: 20px!important;
    margin: 15px;
    font-weight: 500;

}
.image-cards img{
width: 100%;
}
/* end globel rules */
/* start navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 50px;
  background-color: white !important;
  z-index: 43;
  opacity: 0.9;
}
.navbar-nav li a {
  color: #173454;
}
/* 
@media (min-width:466px ) {
    .navbar-nav {
        flex-direction: row;
    }
    .navbar-nav li a{
        padding: 10px 20px;
    }
    .navbar .container{
        flex-direction: column;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block !important;
    }
}
*/
@media (max-width: 991px) {
  .navbar-nav li {
    text-align: center;
  }
}
/* end navbar */
/* start header */
.header {
  height: 100vh;
  background-image: url(../images/im3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  position: relative;
  height: 100%;
}
.header .content {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-60%);
}
.header .content .text {
  margin-bottom: 50px;
}
.header .content .text .text-body {
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 20px 0px;
}
.header .content .text .text-footer {
  font-size: 14px;
  line-height: 1.3;
}

/* end header */
/* start practicing */
.practicing {
  padding: var(--main-padding);
}
.practicing .text {
  font-size: 30px;
  font-weight: bold;
  color: #0b2c3f;
  padding: 10px 0px;
}
.card {
  padding: 30px;
  margin-bottom: 20px;
}
.card .card-img-top {
  font-size: 25px;
  color: var(--text-header-color);
}
.card-title {
  color: #16014c;
}
.card-body {
  padding: 20px 0px;
}
.card-text {
  color: #576685;
}
.card-foot a,
.card-foot i {
  color: #5a6676 !important;
  text-decoration: none;
  transition: var(--main-transtion);
}
.card-foot i {
  font-size: 13px;
}
.card-foot a:hover,
.card-foot a:hover i {
  color: var(--text-header-color) !important;
}
.card-row {
  padding-top: 70px;
}
/* start about */
#about {
}
#about .row {
}
#about .row .col:first-child {
  padding: 0px;
}
#about .row .col:last-child .text-header {
  color: white !important;
}
#about .row .col:last-child .text-header::before {
  background-color: white !important;
}
#about .row .col:first-child img {
  width: 100%;
}
#about .row .col:last-child {
  background-color: #3857ff;
  padding: 40px;
}
#about .row .text-header {
}
#about .row .text-body {
}
#about .row .text-body,
#about .row h4 {
  color: white !important;
}
#about .row h4 {
  margin: 80px 0px 50px;
}
#about .row h6 {
  color: #d4d1c8;
}
#about .button {
  margin-top: 30px;
}
/* start form */
.form {
  background-color: #ecf2fe;
  padding: 150px 0px;
}
.form .container-fluid {
  width: 90% !important;
}
.form .text-header {
  color: white !important;
}
.form .text-header::before {
  background-color: white !important;
}
.form .content {
  margin: auto;
  background-image: url(../images/im15.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--main-padding);
  margin-bottom: -220px;
}
.form form .row .col {
  margin-bottom: 30px;
}
@media (min-width:465px) {
    .form form .row1 .col{
        flex-basis: 47%;
        }
}
.form form input,
select {
  height: 50px;
}
.form form textarea{
    box-sizing: border-box;
    padding: 50px;
}
.form form .button {
  padding: 0px;
}
/* start recent work */
.work{
    padding: 150px 0px;
}
.work .sec-header p{
    color: #0b3043;
}
.work .sec-header ul{
    display: flex;
    margin: 40px 0px;
}
.work .sec-header ul li{
    padding: 10px 15px;
}
.work .sec-header ul li a{
    color: #a09896 !important;
    transition: var(--main-transtion);
}
.work .sec-header ul li a:hover{
    color:var(--text-header-color)!important;
}

/* start consultant */
.consultant{
    background-image: url(../images/im15.png);
    background-size: cover;
    padding: 100px 0px
}
.consultant .text{
    color: white;
    font-size: 40px; 
    font-weight: bold; 
    
}
.consultant input{
   background-color:  #0b1517 !important;
}
@media (max-width:465px) {
    .consultant .button{
        text-align: center !important;
        margin-top: 50px;
    }
}
/* our lawyers */
.lawyers{
padding: var(--main-padding);
}
.lawyers .sec-header p{
    color: #092c40 !important;
    
}
.lawyers .image-cards .sec-header p{
    font-size: 35px;
}
.lawyers .image-cards .sec-header .text-header{
    text-transform: capitalize;
    font-size: 12px;
    padding-left: 50px !important;
}
.lawyers .image-cards .sec-header .text-header::before{
    width: 40px;
}
/*  */